## Clock signal
NET "clk" LOC = "V10" | IOSTANDARD = LVCMOS33;

## Reset Signal
NET "reset" LOC = "B8" | IOSTANDARD = LVCMOS33;

## Start Transmit Signal
NET "start_tx" LOC = "C9" | IOSTANDARD = LVCMOS33;

## Transmit Data Inputs
NET "tx_data<0>" LOC = "T10" | IOSTANDARD = LVCMOS33;
NET "tx_data<1>" LOC = "T9" | IOSTANDARD = LVCMOS33;
NET "tx_data<2>" LOC = "V9" | IOSTANDARD = LVCMOS33;
NET "tx_data<3>" LOC = "M8" | IOSTANDARD = LVCMOS33;
NET "tx_data<4>" LOC = "N8" | IOSTANDARD = LVCMOS33;
NET "tx_data<5>" LOC = "U8" | IOSTANDARD = LVCMOS33;
NET "tx_data<6>" LOC = "V8"| IOSTANDARD = LVCMOS33;
NET "tx_data<7>" LOC = "T5" | IOSTANDARD = LVCMOS33;

## Receive Serial Data Input
NET "rx_in" LOC = "N17" | IOSTANDARD = LVCMOS33;

## Transmit Serial Data Output
NET "tx_out" LOC = "N18" | IOSTANDARD = LVCMOS33;

## Received Data Outputs
NET "rx_data<0>" LOC = "U16" | IOSTANDARD = LVCMOS33;
NET "rx_data<1>" LOC = "V16" | IOSTANDARD = LVCMOS33;
NET "rx_data<2>" LOC = "U15" | IOSTANDARD = LVCMOS33;
NET "rx_data<3>" LOC = "V15" | IOSTANDARD = LVCMOS33;
NET "rx_data<4>" LOC = "M11" | IOSTANDARD = LVCMOS33;
NET "rx_data<5>" LOC = "N11" | IOSTANDARD = LVCMOS33;
NET "rx_data<6>" LOC = "R11" | IOSTANDARD = LVCMOS33;
NET "rx_data<7>" LOC = "T11" | IOSTANDARD = LVCMOS33;
